@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

div#wrapper {
    background-color: #73e2e6;
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container_register_login {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 500px;
    overflow: hidden;
    max-width: 100%;
}
/* header */
.header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
}

.header h2 {
    margin: 0;
}

.form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    display: block;
    font-size: 14px;
    font-family: inherit;
    width: 100%;
    padding: 10px;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control.success i.fa-check-circle {
    visibility: visible;
    color: #2ecc71;
}

.form-control.error i.fa-exclamation-circle {
    visibility: visible;
    color: #e74c3c;
}

.form-control.error small {
    visibility: visible;
    color: #e74c3c;
}

.form-control i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    bottom: 0px;
    left: 0;
}

.form button {
    display: block;
    font-family: inherit;
    background-color: #8e44ad;
    padding: 10px;
    border: 2px solid #8e44ad;
    border-radius: 5px;
    color: #fff;
    width: 100%;
}

#btnLogin {
    cursor: pointer;
}

#btnRegister {
    cursor: pointer;
}