* {
    list-style: none;
}

.container {
    max-width: 940px;
}

.globalnav {
    background: #003478;
    height: 40px;
    left: 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
}

#header__top {
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    height: 40px;
    line-height: 40px;
    padding-right: 25px;
    position: relative;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

#header__top a:hover {
    color: #ff7800;
}

#header__top a, #header__top .language span {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

#header__top .label, #header__top .list-top{
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0 0 0 30px;
}

#header__top .list-top li {
    display: inline-block;
    padding: 0 3px;
}

/* header__logo */
#header__logo h1 img {
    display: block;
}

/* header menu */
#header__menu #menu li {
    display: inline-block;
}
#header__menu ul#menu{
    padding-left: 0;
}

div#header__menu, div#header__menu div.row {
    height: 40px;
}

#header__menu #menu li a {
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#header__menu > div > div > ul#menu li:hover a{
    color: #dd8111;
}


/* view home */
#home__main div#home__main_left{
    /* float: left; */
    /* width: 75%; */
    border: 1px solid red;
}

#home__main div#home__main_right{
    /* float: left;
    width: 20%; */
    border: 1px solid green;
}