* {
    list-style: none;
}

.container {
    max-width: 940px;
}

.globalnav {
    background: #003478;
    height: 30px;
    left: 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
}

#header__top {
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    height: 30px;
    line-height: 30px;
    padding-right: 25px;
    position: relative;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

#header__top a, #header__top .language span {
    font-size: 13.5px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

#header__top .label, #header__top .list-top{
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0 0 0 30px;
}

#header__top .list-top li {
    display: inline-block;
    padding: 0 3px;
}

/* header__logo */
#header__logo h1 img {
    display: block;
}

/* header menu */
#header__menu #menu li {
    display: inline-block;
}
#header__menu ul#menu{
    padding-left: 0;
}
#header__menu #menu li a {
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}